@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Michroma&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Syne:wght@400..800&display=swap");
@import "tailwindcss";

@layer base {
  ::selection {
    background-color: theme("colors.zinc.800");
    color: theme("colors.gray.100");
  }
}

@layer base {
  html,
  body {
    @apply bg-black text-white;
    background-image: radial-gradient(#27272a 1px, transparent 1px);
    background-size: 20px 20px;
  }
}

* {
  font-family: "Outfit";
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.placeholder-color {
  color: #e0e0e0;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #09090b; 
}

::-webkit-scrollbar-thumb {
  background: #A1A1AA; 
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A1A1AA; 
}
